*.l linguist-language=lisp

emulisp/*              linguist-vendored
web/blockly/*          linguist-vendored
web/jquery.terminal*   linguist-vendored
web/parenedit*         linguist-vendored
web/showdown.js        linguist-vendored
web/showup*            linguist-vendored
