/* http://stackoverflow.com/questions/14043727/auto-resizing-textarea-is-bumpy-highlighting-parentheses */
/* http://jsfiddle.net/ACF8e/ */

.defaultEm {
  font-size: 1em;
  position: absolute;
  line-height: 1;
  padding: 0;
  visibility: hidden;
}
.richtext {
    display: inline-block;
    overflow: hidden;
    margin: 2px 0;
    vertical-align: top;
}
.richtext pre {
    display: inline-block;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    min-height: 25;
    background: #fff;
    outline: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}
input,.richtext {
    padding: 0px;
    color: #282828;
    background: #fff;
    outline: 0;
    border: 1px solid #BABABA;
}
input, textarea, .richtext > pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    line-height: 1.5;
}
#test:focus, input:focus, .fake_focus {
    border: 1px solid #85B6DA;
    outline: 0;
}
#test:active, input:active, .richtext:active {
    border: 1px solid #3385C2;
}

/* http://jsfiddle.net/ojetot9k/ */
.unmatched {
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}
@keyframes blink { 50% { background: red; } }
@-webkit-keyframes blink { 50% { background: red; } }

/* paren_0 is after paren_5*/
.paren_1 {
    background: #fab;
}
.paren_2 {
    background: #fdb;
}
.paren_3 {
    background: #ffd;
}
.paren_4 {
    background: #dfb;
}
.paren_5 {
    background: #cef;
}
.paren_6 {
    background: #dcf;
}
.paren_0 {
    background: #bbe;
}
.selected_paren {
    background: #999 !important;
}
.text {
    border-bottom: 2px solid green;
}
.richtext textarea, .richtext pre {
    resize: none !important;
    outline: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow: hidden !important;
}
.richtext textarea {
    height: 100%;
}
