body.microalg {
    width: 95%;
    margin: 0px auto;
    font-family: Verdana, Arial, sans-serif;
    color: black;
    background-color: white;
}
.microalg a:link {color:#337;}
.microalg a:visited {color:#333;}
.microalg a:hover {color:#000;}
.microalg a:active {color:#000;}
.microalg h1 a,
.microalg h2 a,
.microalg h3 a,
.microalg h4 a,
.microalg h5 a,
.microalg h6 a {
    text-decoration: none;
}
.microalg code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #AAA;
    background-color: #DDD;
    border-radius: 3px;
    white-space: nowrap;
}
.microalg pre code {
    white-space: pre;
    position: relative;
}
#script-container, #repl-container {
    width: 95%;
    margin: 0px auto;
}
.malg-editor, .malg-repl {
    width: 100%;
}
.malg-display {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#links {
    text-align: right;
}
#bla {
    width: 60%;
    margin: 0px auto;
}
#bla h1 {
    text-align: center;
}
