body.microalg {
    width: 95%;
    margin: 0px auto;
    font-family: Verdana, Arial, sans-serif;
    color: black;
    background-color: #D1D1D1;
}
.microalg a:link {color:#337;}
.microalg a:visited {color:#333;}
.microalg a:hover {color:#000;}
.microalg a:active {color:#000;}
.microalg h1 a,
.microalg h2 a,
.microalg h3 a,
.microalg h4 a,
.microalg h5 a,
.microalg h6 a {
    text-decoration: none;
}
.microalg code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #AAA;
    background-color: #DDD;
    border-radius: 3px;
    white-space: nowrap;
}
.microalg pre code {
    display: block;
    white-space: pre;
    position: relative;
}
.malg-container {
    width: 95%;
    margin: 0px auto;
}
.malg-editor, .malg-repl {
    width: 100%;
}
.malg-ok {
    margin: 2px;
    background-color: #ddd;
}
.malg-display {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
}
.malg-display p {
    margin: 0px;
    margin-left: 3px;
}
.microalg .terminal, .microalg .cmd {
    width: 93%;
    margin: 0px auto;
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
.link-right {
    text-align: right;
}
#bla {
    width: 60%;
    margin: 0px auto;
}
#bla h1 {
    text-align: center;
}
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 1em;
    z-index: 100;
    background-color: #eee;
}
