html {
    font-size: 62.5%;
    color: #000;
    background-color: #fff;
}
#dokuwiki__site {
    font-size: 120%;
}
body.microalg {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    width: 95%;
    margin: 0px auto;
}
.microalg ul {
    list-style: outside;
}
.microalg p, li {
    line-height: 1.3em;
}
.microalg a:link {color:#337;}
.microalg a:visited {color:#333;}
.microalg a:hover {color:#000;}
.microalg a:active {color:#000;}
.microalg h1 a,
.microalg h2 a,
.microalg h3 a,
.microalg h4 a,
.microalg h5 a,
.microalg h6 a {
    text-decoration: none;
    border: 0 none;
}
.microalg h2 {
    margin-top: 3.2em;
}
.microalg h3 {
    margin-top: 2em;
}
.microalg.doc h2 {
    border-top: 1px solid black;
    padding-top: 0.5em;
}
.microalg code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #AAA;
    background-color: #DDD;
    border-radius: 3px;
    white-space: nowrap;
}
.microalg pre code {
    display: block;
    white-space: pre;
    position: relative;
}
.malg-container {
    width: 95%;
    margin: 0px auto;
}
.malg-export {
    line-height: 1.2em;
    font-family: monospace;
    white-space: pre;
}
.malg-guide {
	color: #ddd;
}
.malg-blockly-iframe {
    height: 350px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
}
.malg-editor, .malg-repl {
    width: 100%;
}
.malg-ok {
    margin: 2px;
    background-color: #ddd;
    width: 100%;
}
.malg-ok-editor {
    margin: 2px;
    background-color: #ddd;
    width: 75%;
}
.malg-output-type {
    float: right;
    margin: 2px;
    width: 20%;
}
.malg-error {
    color: red;
}
.malg-freq-error {
    color: black;
}
.malg-display {
    font-family: "Courier New",Courier,monospace;
    margin-bottom: 2em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    min-height: 1em;
    padding: 2px;
}
pre.brut {
    font-size: 1.3em;
    line-height: 1em;
    margin: 0px;
}
.malg-sketch {
    border: solid 1px;
    margin-bottom: 3em;
}
.microalg .terminal, .microalg .cmd {
    width: 93%;
    margin: 0px auto;
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
.microalg .link-right {
    text-align: right;
}
.microalg .link-snippet {
    text-align: right;
}
.microalg .link-snippet a {
    text-decoration: none;
	border-bottom: 0;
	background-color: #eee;
	padding: 0 .5em 0 .5em;
}
.microalg .link-snippet a:hover {
	background-color: #ddd;
}
a.wp:after, a.offi:after, a.email:after {
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: super;
    font-size: 50%;
}
a.wp:after {
    content:"(wp)";
}
a.offi:after {
    content:"(officiel)";
}
a.email:after {
    content:"(email)";
}
.microalg a {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid;
}
#bla {
    width: 60%;
    margin: 0px auto;
}
#bla h1 {
    text-align: center;
}
.microalg .navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 1em;
    z-index: 120;
    background-color: #eee;
}
.microalg dt {
    padding-top: 2em;
}
.microalg dt span {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 0.3em 0.5em 1px 0.7em;
    -webkit-border-top-left-radius: 1em;
    -moz-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
}
.microalg dt span a {
    color: black !important;
}
